.popup-title{
    display: flex;
    h1{
        padding-top: 30px;
        padding-bottom: 30px;
        width: 50%;

        font-family: Roboto;
        font-size: 42px;
        font-weight: 500;
        text-align: center;

        &::selection{background-color: transparent;};
        cursor: pointer;
    }
}

.active{
    background-color: white;
    color: #295889;
}

.passive{
    background-color: #295889;
    color: white;
}

.tables{
    margin: 25px 75px 25px 75px;
    table{
        width: 100%;
        tr{
            &:nth-of-type(odd){
                background-color: #ECECEC;
            }
            &:nth-of-type(even){
                background-color: #C4C4C4;
            }
            &:nth-of-type(1){
                background-color: #FFF;
            }
            th{
                text-align: left;
                padding: 20px 0 20px 5px;

                font-family: Roboto;
                font-size: 34px;
                font-weight: 700;
            }
        }
        td{
            padding: 10px 0 10px 5px;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    input{
        display: block;
        width: calc(100%);
        margin-bottom: 20px;
        border-radius: 15px;
        border-color: #295889;
        padding: 15px 0 15px 15px;
  
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
    }
}

.services-table{
    
}

.employees-table{

}

.delete-button{
    width: 35px;
    height: 35px;
    position: fixed;
    top: 260px;
    right: 15px;

    font-size: 20px;
    font-family: Roboto;
    border-radius: 15px;
    border: 0;

    color: white;
}

.submit-button{
    display: block;
    width: 300px;
    height: 50px;
    margin: 20px auto 0 auto;

    font-size: 24px;
    background-color: #295889;
    color: white;
}

.edit-button{
    margin: 15px auto 0 auto;

    font-size: 16px;
    border: 0px;
    background-color: #295889;
    color: white;
}

.edit-form-button{
    margin-left: 15px;
    width: 100px;
    height: 40px;
  
    font-size: 26px;
    border: 0px;
    background-color: #295889;
    color: white;
  }
.popup-form{  
    border: solid;
    border-width: 10px;
    border-color: #295889;
    border-radius: 25px;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 2;
    height: 400px;
    width: 700px;

    background-color: white;
}

.button-active{
    background-color: red;
}

.button-passive{
    background-color: gray;
}

.procedure-input{
    height: 40px;
    width: 90%;
    
    border-radius: 10px;
    border-width: 2px;
    color: black;

    font-size: 18px;
    font-family: Roboto;
}