<div class="popup-title">
    <h1 class="employees" (click)="showEmployees()" [ngClass]="{active:displayEmployees}" [ngClass]="{passive:!displayEmployees}">Employees</h1>
    <h1 class="services" (click)="showServices()" [ngClass]="{active:displayServices}" [ngClass]="{passive:!displayServices}">Services</h1>
    <h1 class="appointments" (click)="showAppointments()" [ngClass]="{active:displayAppointments}" [ngClass]="{passive:!displayAppointments}">Appointments</h1>
</div>
<div class="tables">
    <div *ngIf="displayEmployees">
        <input placeholder="Search for employees" type="text">
        <table class="employees-table">
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Address</th>
              <th>Email</th>
            </tr>
            <tr *ngFor="let employee of Employees">
              <td>{{employee.firstName + " " + employee.lastName}}</td>
              <td>{{employee.position}}</td>
              <td>{{employee.address}}</td>
              <td>{{employee.email}}</td>
            </tr>
            <tr>
              <td><input class="procedure-input" type="text"></td>
              <td><select class="procedure-input">
                <option value={{position.title}} *ngFor="let position of Positions">{{position.title}}</option>
              </select></td>
              <td><input class="procedure-input" type="drop"></td>
              <td><input class="procedure-input" type="text"></td>
            </tr>
          </table>
    </div>
    <div *ngIf="displayServices">
        <input placeholder="Search for services" type="text">
        <table class="services-table">
            <tr>
              <th>Name</th>
              <th>Duration</th>
              <th>Price</th>
              <th>Description</th>
            </tr>
            <tr *ngFor="let procedure of Procedures">
              <td>{{procedure.title}}</td>
              <td>{{procedure.duration}}</td>
              <td>{{procedure.price}}$</td>
              <td>{{procedure.description}}</td>
            </tr>
            <tr>
              <td><input #title class="procedure-input" type="text"></td>
              <td><input #duration class="procedure-input" type="text"></td>
              <td><input #price class="procedure-input" type="text"></td>
              <td><input #description class="procedure-input" type="text"></td>
            </tr>
          </table>
          <input type="button" (click)="postProcedure(title.value, duration.value, price.value, description.value)">
    </div>
    <div *ngIf="displayAppointments">
        <input placeholder="Search for appointments" type="text">
        <table class="appointments-table">
            <tr>
              <th>Date</th>
              <th>From</th>
              <th>To</th>
              <th>Pet name</th>
            </tr>
            <tr *ngFor="let appointment of Appointments">
              <td>{{formatDate(appointment.from)}}</td>
              <td>{{formatTime(appointment.from)}}</td>
              <td>{{(formatTime(appointment.to))}}</td>
              <td>{{appointment.petName}}</td>
            </tr>
            <tr>
                <td><input class="procedure-input" type="text"></td>
                <td><input class="procedure-input" type="text"></td>
                <td><input class="procedure-input" type="text"></td>
                <td><input class="procedure-input" type="text"></td>
            </tr>
          </table>
    </div>
</div>