<div class="popup-title">
    <h1 class="employees" (click)="showEmployees()" [ngClass]="{active:displayEmployees}" [ngClass]="{passive:!displayEmployees}">Employees</h1>
    <h1 class="services" (click)="showServices()" [ngClass]="{active:displayServices}" [ngClass]="{passive:!displayServices}">Services</h1>
    <h1 class="appointments" (click)="showAppointments()" [ngClass]="{active:displayAppointments}" [ngClass]="{passive:!displayAppointments}">Appointments</h1>
</div>
<button (click)="toggleDelete()" [ngClass]="deleteMode ? 'button-active' : 'button-passive'"class="delete-button">X</button>

<div class="popup-form-wrapper" *ngIf="displayAppointmentPopup">
  <div class="popup-form">
    <input class="input-edit-form" value={{fromEdit}} class="procedure-input" type="text">
    <input class="input-edit-form" value={{toEdit}}  class="procedure-input" type="text">
    <input class="input-edit-form" value={{orderProcedureIdEdit}}  class="procedure-input" type="text">
    <select class="input-edit-form" v#doctorId class="procedure-input" value={{doctorIdEdit}} >
      <option value={{employee.id}} *ngFor="let employee of Employees">{{employee.firstName + " " + employee.lastName}}</option>
    </select>
    <button (click)="toggleAppointmentPopup()">Close</button>
  </div>
</div>

<div class="popup-form-wrapper" *ngIf="displayProcedurePopup">
  <div class="popup-form">
    <input class="input-edit-form" #name value={{nameEdit}} class="procedure-input" type="text">
    <input class="input-edit-form" #duration value={{durationEdit}}  class="procedure-input" type="text">
    <input class="input-edit-form" #price value={{priceEdit}}  class="procedure-input" type="text">
    <input class="input-edit-form" #description value={{descriptionEdit}}  class="procedure-input" type="text">
    <button class="edit-form-button" (click)="updateProcedure(name.value, duration.value, description.value, price.value); toggleProcedurePopup()">Confirm</button>
    <button class="edit-form-button" (click)="toggleProcedurePopup()">Close</button>
  </div>
</div>

<div class="tables">
    <div *ngIf="displayEmployees">
        <table class="employees-table">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Position</th>
              <th>Address</th>
              <th>Email</th>
              <th></th>
            </tr>
            <tr *ngFor="let employee of Employees" (click)="deleteEmployee(employee.id)">
              <td>{{employee.firstName}}</td>
              <td>{{employee.lastName}}</td>
              <td>{{employee.position}}</td>
              <td>{{employee.address}}</td>
              <td>{{employee.email}}</td>
              <button class="edit-button" (click)="toggleAppointmentPopup(appointment.id, appointment.from, appointment.to, appointment.orderProcedureId, appointment.doctorId)">Edit</button>
            </tr>
            <tr>
              <td><input #firstName class="procedure-input" type="text"></td>
              <td><input #lastName class="procedure-input" type="text"></td>
              <td><select #position class="procedure-input">
                  <option value={{position.id}} *ngFor="let position of Positions">{{position.title}}</option>
              </select></td>
              <td><input #address class="procedure-input" type="drop"></td>
              <td><input #email class="procedure-input" type="text"></td>
              <td></td>
            </tr>
          </table>
          <button class="submit-button" (click)="registerEmployee(firstName.value, lastName.value, position.value, address.value, email.value)">Add</button>
    </div>
    <div *ngIf="displayServices">
        <table class="services-table">
            <tr>
              <th>Name</th>
              <th>Duration</th>
              <th>Price</th>
              <th>Description</th>
              <th></th>
            </tr>
            <tr *ngFor="let procedure of Procedures | async" (click)="deleteProcedure(procedure.id)">
              <td>{{procedure.title}}</td>
              <td>{{procedure.duration}}</td>
              <td>{{procedure.price}}$</td>
              <td>{{procedure.description}}</td>
              <button class="edit-button" (click)="toggleProcedurePopup(procedure.id, procedure.title, procedure.duration, procedure.price, procedure.description)">Edit</button>
            </tr>
            <tr>
              <td><input #title class="procedure-input" type="text"></td>
              <td><input #duration class="procedure-input" type="text"></td>
              <td><input #price class="procedure-input" type="text"></td>
              <td><input #description class="procedure-input" type="text"></td>
              <td></td>
            </tr>
          </table>
          <button class="submit-button" (click)="postProcedure(title.value, duration.value, price.value, description.value)">Add</button>
    </div>
    <div *ngIf="displayAppointments">
        <table class="appointments-table">
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Order Procedure Id</th>
              <th>Doctor Id</th>
              <th></th>
            </tr>
            <tr id={{appointment.id}} *ngFor="let appointment of Appointments | async" (click)="deleteAppointment(appointment.id)">
              <td>{{appointment.from}}</td>
              <td>{{appointment.to}}</td>
              <td>{{appointment.orderProcedureId}}</td>
              <td>{{appointment.doctorName}}</td>
              <button class="edit-button" (click)="toggleAppointmentPopup(appointment.id, appointment.from, appointment.to, appointment.orderProcedureId, appointment.doctorId)">Edit</button>
            </tr>
            <tr>
                <td><input #from class="procedure-input" type="text"></td>
                <td><input #to class="procedure-input" type="text"></td>
                <td><input #orderProcedureId class="procedure-input" type="text"></td>
                <td><select #doctorId class="procedure-input">
                     <option value={{employee.id}} *ngFor="let employee of Employees">{{employee.firstName + " " + employee.lastName}}</option>
                    </select></td>
                <td></td>
            </tr>
          </table>
          <button class="submit-button" (click)="postAppointment(from.value, to.value, orderProcedureId.value, doctorId.value)">Add</button>
    </div>
</div>