<div class="nav-back"></div>
<div class="navbar">
    <h1 class="logo">Vet<span class="logo-style">Clinic</span></h1>
    <div class="options">
        <a class="navbar-item" href="http://localhost:4200/home">ABOUT US</a>
        <a class="navbar-item" href="http://localhost:4200/procedures">SERVICES</a>
        <a class="navbar-item" href="http://localhost:4200/appointment">APPOINTMENT</a>
        <a class="navbar-item" routerLink ="/login" *ngIf="!isUserLoggedIn">SIGN IN</a>
        <a class="navbar-item" routerLink ="/administrator" *ngIf="isAdmin">ADMIN PANEL</a>
        <a class="navbar-item" routerLink ="/client/{{Userid}}" *ngIf="isUserLoggedIn">PROFILE</a>
        <p class="navbar-item" *ngIf="isUserLoggedIn" (click)="logout()"> Log Out</p> 
    </div>
  </div>
