

<div class="popup-form-wrapper" *ngIf="displayProfileComponent">
  <div class="bg" (click)="toggleProfilePopup()"></div>
  <div class="popup-form">
    <h1 class="popup-title">Edit your profile</h1>

      <app-edit-prof 
      [client]="client" 
      [clientId]="clientId"
      (closeEvent)="toggleProfilePopup()">
      </app-edit-prof>

  </div>
</div>
  
<div class="popup-form-wrapper" *ngIf="displayPetAddComponent">
  <div class="bg" (click)="toggleAddPetPopup()"></div>
  <div class="popup-form">
    <h1 class="popup-title">{{petPopupTitle}}</h1>

      <app-add-edit-pet 
      [client]="client"
      [(ngModel)]="displayPetAddComponent" ngDefaultControl 
      [displayPetAddComponent]="displayPetAddComponent"
      (closeEvent)="toggleAddPetPopup()">
      </app-add-edit-pet>
      
  </div>
</div>

<div class="client-section">

  <app-show-pet [clientId]="clientId" [client]="client"></app-show-pet>

  <div class="menu-wrapper">
    <div class="menu">
      <h1 class="menu-title" *ngIf="client">{{client.firstName}} {{client.lastName}}</h1>
      <input class="menu-field" value="Edit profile" type="button" (click)="toggleProfilePopup()">
      <input class="menu-field" value="Add new pet" type="button" (click)="toggleAddPetPopup()">
    </div>
  </div>
  
</div>

 


<div class="space"></div> 

<router-outlet></router-outlet>
