
  <div class="popup-form-wrapper" *ngIf="displayPopup">
    <div class="bg" (click)="togglePopup()"></div>
    <div class="popup-form">
      <h1 class="popup-title">Current Appointments</h1>
      <table class="appointment-table">
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
          <th>Client</th>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
        <tr>
          <td>April 13, 2021</td>
          <td>9:30 </td>
          <td>10:00</td>
          <td>George Smith</td>
        </tr>
      </table> 
    </div>
  </div>
  
  <div class="doctor-section">
    <div class="pets">
      <input placeholder="Enter pet name" type="text">
      <div class="pet-wrapper">
        <div class="pet">
          <img class="pet-image" src="./assets/images/cat1.png">
          <div class="pet-text">
            <h1>Sam</h1>
            <div class="pet-info">
              <h2><span class="bold">Type: </span>Cat</h2>
              <h2><span class="bold">Breed: </span>Bombay</h2>
              <h2><span class="bold">Age: </span>4 years</h2>
            </div>
            <p>Sam is a four year old male cat, born in June of 2017. Previously he was treated for leg trauma and received a rabies shot in the last six months.</p>
          </div>
          <img class="icon" src="./assets/images/clipboard.svg">
        </div>
        <div class="graphic"></div>
      </div>
      <div class="pet-wrapper">
        <div class="pet">
          <img class="pet-image" src="./assets/images/cat1.png">
          <div class="pet-text">
            <h1>Sam</h1>
            <div class="pet-info">
              <h2><span class="bold">Type: </span>Cat</h2>
              <h2><span class="bold">Breed: </span>Bombay</h2>
              <h2><span class="bold">Age: </span>4 years</h2>
            </div>
            <p>Sam is a four year old male cat, born in June of 2017. Previously he was treated for leg trauma and received a rabies shot in the last six months.</p>
          </div>
          <img class="icon" src="./assets/images/clipboard.svg">
        </div>
        <div class="graphic"></div>
      </div>
      <div class="pet-wrapper">
        <div class="pet">
          <img class="pet-image" src="./assets/images/cat1.png">
          <div class="pet-text">
            <h1>Sam</h1>
            <div class="pet-info">
              <h2><span class="bold">Type: </span>Cat</h2>
              <h2><span class="bold">Breed: </span>Bombay</h2>
              <h2><span class="bold">Age: </span>4 years</h2>
            </div>
            <p>Sam is a four year old male cat, born in June of 2017. Previously he was treated for leg trauma and received a rabies shot in the last six months.</p>
          </div>
          <img class="icon" src="./assets/images/clipboard.svg">
        </div>
        <div class="graphic"></div>
      </div>
      <div class="pet-wrapper">
        <div class="pet">
          <img class="pet-image" src="./assets/images/cat1.png">
          <div class="pet-text">
            <h1>Sam</h1>
            <div class="pet-info">
              <h2><span class="bold">Type: </span>Cat</h2>
              <h2><span class="bold">Breed: </span>Bombay</h2>
              <h2><span class="bold">Age: </span>4 years</h2>
            </div>
            <p>Sam is a four year old male cat, born in June of 2017. Previously he was treated for leg trauma and received a rabies shot in the last six months.</p>
          </div>
          <img class="icon" src="./assets/images/clipboard.svg">
        </div>
        <div class="graphic"></div>
      </div>
      <div class="pet-wrapper">
        <div class="pet">
          <img class="pet-image" src="./assets/images/cat1.png">
          <div class="pet-text">
            <h1>Sam</h1>
            <div class="pet-info">
              <h2><span class="bold">Type: </span>Cat</h2>
              <h2><span class="bold">Breed: </span>Bombay</h2>
              <h2><span class="bold">Age: </span>4 years</h2>
            </div>
            <p>Sam is a four year old male cat, born in June of 2017. Previously he was treated for leg trauma and received a rabies shot in the last six months.</p>
          </div>
          <img class="icon" src="./assets/images/clipboard.svg">
        </div>
        <div class="graphic"></div>
      </div>
    </div>
  
    <div class="menu-wrapper">
      <div class="menu">
        <h1 class="menu-title">Yusuf Amir</h1>
        <input class="menu-field" value="View appointments" type="button" (click)="togglePopup()">
      </div>
    </div>
  </div>
  
<router-outlet></router-outlet>