 <div class="popup-form-wrapper" *ngIf="displayPopup">
    <div class="bg" (click)="togglePopup()"></div>
    <div class="popup-form">
      <h1 class="popup-title">Current Appointments</h1>
      <table class="appointment-table">
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
          <th>Client</th>
        </tr>
        <tr *ngFor="let a of appointments">
          <td>{{a?.date}}</td>
          <td>{{a?.from}}</td>
          <td>{{a?.to}}</td>
          <td>George Smith</td>
        </tr>
      </table> 
    </div>
  </div>
  
  <div class="doctor-section">
    <div class="pets">
      <input placeholder="Enter pet name" type="text">
      <div *ngFor="let pet of pets" class="pet-wrapper">
        <div class="pet">
          <img class="pet-image" src="./assets/images/cat1.png">
          <div class="pet-text">
            <h1>{{pet?.name}}</h1>
            <div class="pet-info">
              <h2><span class="bold">Type: </span>{{pet?.animalType}}</h2>
              <h2><span class="bold">Breed: </span>{{pet?.petBreed}}</h2>
              <h2><span class="bold">Age: </span>{{pet?.petAge}} year(s)</h2>
            </div>
            <p>{{pet?.petInformation}}</p>
            <div>
              <h2><span class="bold">Procedure: </span>{{pet?.procedureTitle}}</h2>
            </div>
          </div>
          <img class="icon" src="./assets/images/clipboard.svg">
        </div>
        <div class="graphic"></div>
      </div>
    </div>
  
    <div class="menu-wrapper">
      <div class="menu">
        <h1 class="menu-title">Yusuf Amir</h1>
        <input class="menu-field" value="View appointments" type="button" (click)="togglePopup()">
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>