.title{
    font-family: Roboto;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin: 40px 0 40px 0;

    color: #295889;
}
.info{
    position: relative;
    img{
        width: 80vw;
        display: block;
        margin: 0 auto;
    }
}
.info-header{
    position: absolute;
    margin: 0 0 0 13vw;
    bottom: 180px;
    width: 800px;

    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
    color: white;
}
.info-text{
    position: absolute;
    margin: 0 0 0 13vw;
    bottom: 40px;
    width: 900px;
    line-height: 28px;

    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    color: white;
    }
.inputs{
    display: flex;
    div{
        width: 50%;
    }
}

.label-text{
    margin: 10px 0 10px 75px;
    width: 90%;

    display: block;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
}
.input-field{
    margin: 10px 0 10px 75px;
    width: 80%;
    height: 40px;
    
    border-radius: 10px;
    border-width: 2px;
    color: black;

    font-size: 18px;
    font-family: Roboto;
}

.contact-title{
    text-align: center;
    margin: 30px 0 40px 0;
    font-family: Roboto;
    font-size: 72px;
    font-weight: 700;

}
.submit-button{
    height: 69px;
    width: 282px;
    left: 1083px;
    top: 1762px;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 36px;    
    font-weight: 500;  
    background-color: #295889; 
    color: white;
    display: block;
    margin: 15px 75px 30px auto;
}
.submit-button:disabled{
    color: rgb(110, 110, 110);
    background-color: #252a30;
}
.payment-section{
    display: flex;
    margin-top: 15px;
    label{
        margin: 10px 0 10px 20px;

        display: block;
        font-family: Roboto;
        font-size: 32px;
        font-weight: 400;
        text-align: left;
    }
    input{
        margin: 10px 0 10px 75px;
        height: 20px;
        width: 20px;
    }
}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
.creditCardForm #card-number-field {
    width: 100%;
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}