<div class="info">
    <h1 class="title">Request an appointment</h1>
    <img src="https://i.imgur.com/HN59khP.png">
    <h1 class="info-header">If your pet is having a problem, you can request an appointment for a checkup.</h1>
    <p class="info-text">When the date of your appointment will be known, we will send you an email with additional information. Please note that if your problem is urgent you can use our emergency services and we will treat your animal right away.</p>
</div>
<div class="contact-section">
    <h1 class="contact-title">Enter your contact information</h1>
    <div class="input-grid">
        <div>
            <label class="label-text">First name</label>
            <input type="text" class="input-field">
        </div>
        <div>
            <label class="label-text">Last name</label>
            <input type="text" class="input-field">
        </div>
        <div>
            <label class="label-text">Phone number</label>
            <input type="text" class="input-field">
        </div>
        <div>
            <label class="label-text">Email address</label>
            <input type="email" class="input-field">
        </div>
    </div>
    <div>
        <label class="label-text">Describe your problem</label>
        <textarea class="description-field"></textarea>
    </div>
    <input class="submit-button" type="button" value="Submit">
</div>