.section-greeter{
    padding-left: 75px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    
    img{
        margin-top: 30px;
        margin-right: 150px;
        height: 90%;
        width: 620px;
    }

    .text{
        display: inline-block;
        margin-top: 200px;
    }

    h1{
        width: 572px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 75px;
        
        color: #295889;
    }

    p{
        width: 615px;
        margin-top: 10px;
        margin-bottom: 40px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #050505;
    }

    button{
        width: 300px;
        height: 60px;
        border: none;
        border-radius: 8px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        
        background-color: #295889;
        color: #FFF;
    }
}
.section-services{
    padding: 65px;
}
.services-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    text-align: center;
    
    color: #295889;
}
.services-table{
    width: 100%;
    tr{
        &:nth-of-type(odd){
            background-color: #ECECEC;
        }
        &:nth-of-type(even){
            background-color: #C4C4C4;
        }
        &:nth-of-type(1){
            background-color: #FFF;
        }
        th{
            text-align: left;
            padding: 20px 0 20px 5px;

            font-family: Roboto;
            font-size: 34px;
            font-weight: 700;
        }
    }
    td{
        padding: 10px 0 10px 5px;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    }
}