<div class="section-greeter">
    <div class="text">
        <h1>Having a problem?</h1>
        <p>Book an appointment now and one of our professionals will take care of your animal.</p>
        <button>Book an appointment</button>
    </div>
    <img src="https://images.unsplash.com/photo-1596272875729-ed2ff7d6d9c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80">
</div>
<div class="section-services">
    <h1 class="services-header">Available Services</h1>
    <table class="services-table">
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Heart surgery</td>
          <td>4 hours</td>
          <td>4500$</td>
        </tr>
        <tr>
          <td>Stomach surgery</td>
          <td>3 hours</td>
          <td>675$</td>
        </tr>
        <tr>
          <td>Liver surgery</td>
          <td>1 hours</td>
          <td>2000$</td>
        </tr>
        <tr>
          <td>Rabies vaccine</td>
          <td>10 min</td>
          <td>50$</td>
        </tr>
        <tr>
          <td>Hepatitis vaccine</td>
          <td>10 min</td>
          <td>75$</td>
        </tr>
        <tr>
          <td>Parvovirus vaccine</td>
          <td>10 min</td>
          <td>75$</td>
        </tr>
        <tr>
          <td>Wellness exam</td>
          <td>30 min</td>
          <td>200$</td>
        </tr>
        <tr>
          <td>Heartworm test</td>
          <td>20 min</td>
          <td>50$</td>
        </tr>
        <tr>
          <td>General bloodwork</td>
          <td>10 min</td>
          <td>150$</td>
        </tr>
        <tr>
          <td>Deworming</td>
          <td>15 min</td>
          <td>125$</td>
        </tr>
      </table> 
</div>