<div>
    <div class="ml-3 bd-highlight" style="width: 40%;">
        <img [src]=PhotoFilePath height="250px;" width="200px;">
        <input type="file" (change)="selectImage($event)" class="mt-2"/>
    </div>

    <form >
      
        <label for="name">Name</label>
        <input type="text" id="name" name="name"  [(ngModel)]="inputPet.name" placeholder="Your pet name..">

        <label for="atype">Animal type</label>
        <select id="atype" name="atype" #t (change)="setTypeToPet(t.value)" *ngIf="displayPetAddComponent">
            <option>select type</option>
            <option  *ngFor="let atype of animalTypeList" [value]="atype.id">
                {{atype.type}}
            </option>
        </select>
        <select id="atype" name="atype"  *ngIf="displayPetEditComponent" disabled=true>
            <option >
                {{AddEditPet.animalType}}
            </option>
        </select>


        <label for="breed" >Breed</label>
        <input type="text" id="breed" name="breed"  [(ngModel)]="inputPet.breed"  placeholder="Your pet breed..">

        <label for="age">Age</label>
        <input type="text" id="age" name="age"  [(ngModel)]="inputPet.age" placeholder="Your pet age..">

        <label for="information">Information about your pet</label>
        <input type="text" id="information" name="information"  [(ngModel)]="inputPet.information" placeholder="Your pet age.."> 


        <input type="submit" value="Submit" (click)="submitClicked()">

        <input type="del" *ngIf="displayPetEditComponent" value="Delete this pet" role="button"   (click)="delClicked()">
    </form>
  </div>


  <router-outlet></router-outlet>
