
<div class="popup-form-wrapper" *ngIf="displayPetEditComponent">
  <div class="bg" (click)="toggleEditPetPopup()"></div>
  <div class="popup-form">
    <h1 class="popup-title">{{petPopupTitle}}</h1>

      <app-add-edit-pet 
      [petToEdit]="selectedPet" 
      [clientId]="clientId" 
      [displayPetEditComponent]="displayPetEditComponent"
      (closeEvent)="toggleEditPetPopup()">
      </app-add-edit-pet>
      
  </div>
</div>



<div class="pets">
  
  <div class="pet-wrapper" *ngFor="let pet of PetList">
    <div class="pet">


      <div class="pet-image-container"> 

          <img class="pet-image"  *ngIf="pet.petImages[0]" src={{pet.petImages[0].path}}>
          <img class="pet-image"  *ngIf="!pet.petImages[0]" src="./assets/images/noImage.jpg">
          
      </div>


      <div class="pet-text" >

        <h1>{{pet.name}}</h1>
        <div class="pet-info">
          <h2><span class="bold">Type: </span>{{pet.animalType}}</h2>
          <h2><span class="bold">Breed: </span>{{pet.breed}}</h2>
          <h2><span class="bold">Age: </span>{{pet.age}}</h2>
          

        </div>
        <p>{{pet.information}}</p>
      
      </div>
      <img class="icon" src="./assets/images/pencil.svg" (click)="toggleEditPetPopup(pet)">
      <img class="icon" src="./assets/images/clipboard.svg">
    </div>
    <div class="graphic"></div>
  </div>
  
</div>





