 <section-booking></section-booking>
  
  <div class="section-team">
    <div style="height: 70px;"></div>
    <h1 class="team-title">Meet the team!</h1>
    <div class="graphic"></div>
    <div class="images">
      <div style="margin-left: 75px;">
        <img src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80">
        <h1>DR. YUSUF AMIR</h1>
        <p>Medical director, candidate of biological sciences, virologist</p>
      </div>
      <div>
        <img src="https://images.unsplash.com/photo-1622253692010-333f2da6031d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80">
        <h1>DR. BRUNO RODRIGUES</h1>
        <p>Head of hematology department, laboratory doctor of the highest category</p>
      </div>
      <div style="margin-right: 75px;">
        <img src="https://images.unsplash.com/photo-1594824476967-48c8b964273f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80">
        <h1>DR. CATALINA LOPEZ</h1>
        <p>Head of bacteriological laboratory, laboratory doctor, bacteriologist</p>
      </div>
    </div>
  </div>
  
  <div class="section-offers">
    <h1 class="offer-title">What We Offer</h1>
    <div class="offers-grid">
      <div class="procedure">Wellness Exams</div>
      <div class="procedure">Surgeries</div>
      <div class="procedure">Diagnostic Tests</div>
      <div class="procedure">Vaccinations</div>
      <div class="procedure">Urgent Care</div>
      <div class="procedure">Sprays & Neuters</div>
      <div class="procedure">Sick Visits</div>
      <div class="procedure">Behavioral Exams</div>
      <div class="procedure">Dermatology</div>
      <div class="procedure">Nutrition Advice</div>
      <div class="procedure">Dental Exams</div>
      <div class="procedure">Euthanasia</div>
    </div>
  </div>
  
  <div class="section-promo">
    <img src="https://i.imgur.com/3iZQghJ.png">
    <h1>An Animal Hospital For All Your Pet's Needs</h1>
  </div>